<%= form_with(model: budet_detail, local: true) do |form| %>
  <% if budet_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budet_detail.errors.count, "error") %> prohibited this budet_detail from being saved:</h2>

      <ul>
      <% budet_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :budget_id %>
    <%= form.text_field :budget_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.text_field :unit_price %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
