<p id="notice"><%= notice %></p>

<p>
  <strong>Budget:</strong>
  <%= @budet_detail.budget %>
</p>

<p>
  <strong>Product:</strong>
  <%= @budet_detail.product %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @budet_detail.amount %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @budet_detail.unit_price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @budet_detail.subtotal %>
</p>

<%= link_to 'Edit', edit_budet_detail_path(@budet_detail) %> |
<%= link_to 'Back', budet_details_path %>
