<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @customer.business_name %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @customer.cuit %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @customer.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @customer.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @customer.contact_email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
